<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card_body text-center">
            <figure><img src="../olivia training.png" alt=""></figure>
            <p>Create an account or Login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-primary btn-block">Login</a>
            
        </div>
    </div>

</div>